.titulo-principal {
    text-align: center
}
#GOAT {
    text-align: center
}
body {
    background: #392620;
}
#imgkendrick {
    text-align: center;
    margin: 35px
}
.biografia {
    text-align: center;
    background: #FFFFFF;
    padding: 15px
}
.titulo-centralizado {
    text-align: center;
    margin: 35px
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.centralizado {
    text-align: center      
}
.Assinaturadohomem {
    text-align: center;
    margin: 100px
}